body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    font-family: "Optima", sans-serif;
    height: 100vh;
    text-align: center;
}

.nav {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.navItem {
    margin-right: 30px;
    font-size: 20px;
}

.icon {
    height: 24px;
    margin-left: 5px;
    width: 24px;
}

.content {
    align-items: center;
    background-image: url("../images/hellosocks-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.card {
    align-items: center;
    background-color: white;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 720px;
}

.cardContent {
    text-align: center;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}

label {
    font-size: 20px;
    line-height: 26px;
    padding-right: 15px;
}

.actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.authType {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.authInput {
    display: flex;
    flex-direction: row;
}

#errorText {
    color: #AD2E30;
    font-size: 14px;
    width: 320px;
    text-align: left;
    margin: 0 0 5px 0;
}

.inputBox {
    border: 1px solid black;
    border-radius: 0px;
    font-family: "Optima", sans-serif;
    font-size: 16px;
    height: 18px;
    width: 280px;
    padding: 10px;
}

.telInput {
    display: flex;
    white-space: nowrap;
    max-width: 320px;
    width: 100%;
    padding-right: 10px;
}
  
#flag {
    background: url('../images/stars-and-stripes.png') no-repeat scroll 7px 15px;
    border: 1px solid black;
    border-radius: 0px;
    width: 80px;
    height: 18px;
}

.arrow {
    border: none;
    cursor: pointer;
    height: 40px;
    margin-left: 5px;
    padding: 0;
    width: 40px;
}

.passcodeInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}
  
.passcodeInput {
    border-radius: 10px;
    font-size: 20px;
    width: 48px;
    height: 45px;
    text-align: center;
}

.button {
    background-color: #F96719;
    border: none;
    border-radius: 3px;
    color: white;
    height: 45px;
    margin-bottom: 12px;
    margin-top: 12px;
    padding-top: 12px;
    max-width: 320px;
    width: 100%;
}

.resend {
    color: #5C727D;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
  
.resend:hover {
    cursor: pointer;
    text-decoration: underline;
}

a {
    font-size: 20px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    font-size: 40px;
}
