<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello Socks | Stytch example</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <script src="/assets/js/authenticateUtils.js"></script>
</head>
<body>
<div class="app">
    <div class="nav">
        <h2>Hello Socks</h2>
        <div>
            <span class="navItem">Women</span>
            <span class="navItem">Men</span>
            <span class="navItem">Kids</span>
            <span class="navItem">Sale</span>
            <span class="navItem">Community</span>
        </div>
        <div>
            <img class="icon" src="/assets/images/shopping_bag.png">
            <img class="icon" src="/assets/images/person.png">
        </div>
    </div>
    <div class="content">
        <div class="card">
            <div class="cardContent">
              <h1 class="contentHeader">The passcode is...socks!</h1>
              <p class="instructions">Just kidding. Check your phone for the 6-digit passcode.</p>
              <form action="/authenticate_otp" method="POST">
                <div class="actions">
                  <p id="errorText">Invalid code. Please try again.</p>
                  <div class="passcodeInputContainer">
                    <!-- Hidden input to pass phoneId to req.body -->
                    <input type="hidden" name="phoneId" value={{.PhoneId}} />
    
                    <input autofocus class="passcodeInput" type=text placeholder="0" size="1" maxlength="1"
                      name="digit-1" />
                    <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-2" />
                    <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-3" />
                    <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-4" />
                    <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-5" />
                    <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-6" />
                  </div>
                  <input class="button" id="button" type="submit" value="LOG IN" />
                </div>
              </form>
            </div>
          </div>
    </div>
</div>
<script>
  const hasErrored = "{{.HasErrored}}"
  document.getElementById('button').disabled = true;
  const passcodeInputs = document.getElementsByClassName('passcodeInput');
  for (i = 0; i < passcodeInputs.length; i++) {
    passcodeInputs[i].addEventListener('keyup', onPasscodeDigitEnter);
    if (hasErrored === "true") {
      passcodeInputs[i].style.borderColor = '#AD2E30';
      document.getElementById('errorText').style.visability = 'visible';
    } else {
      passcodeInputs[i].style.borderColor = '#ADBCC5';
      document.getElementById('errorText').style.visibility = 'hidden';
    }
  }
</script>
</body>
</html>
