<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello Socks | Stytch example</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <script src="/assets/js/loginOrSignUpUtils.js"></script>
</head>
<body>
<div class="app">
    <div class="nav">
        <h2>Hello Socks</h2>
        <div>
            <span class="navItem">Women</span>
            <span class="navItem">Men</span>
            <span class="navItem">Kids</span>
            <span class="navItem">Sale</span>
            <span class="navItem">Community</span>
        </div>
        <div>
            <img class="icon" src="/assets/images/shopping-bag.png">
            <img class="icon" src="/assets/images/person.png">
        </div>
    </div>
    <div class="content">
        <div class="card">
            <div class="cardContent">
                <h1>Almost there...</h1>
                <p>Sign up or log in to place your order. <br/>No password required!</p>
                <form action={{.LoginOrCreateUserPath}} method="POST">
                    <div class="actions">
                        <div class="authType" id="authType">
                            <input type="radio" name="authType" value="email" id="email" checked="checked">
                            <label for="email">Email Me!</label>
                            <input type="radio" name="authType" value="sms" id="sms">
                            <label for="sms">Text Me!</label>
                            <input type="radio" name="authType" value="whatsApp" id="whatsApp">
                            <label for="whatsApp">Send me a WhatsApp!</label>
                        </div>
                        <div class="authInput">
                            <input id="emailInput" type="text" name="email" placeholder="example@email.com" />
                            <div class="telInput" id="telInput" style="display:none">
                                <input class="flag" name="intlCode" type=text value="+1" readonly />
                                <input autofocus id="phoneNumber" name="phoneNumber" placeholder="(123) 456-7890"
                                onkeyup="onPhoneNumberChange()" type="tel" />
                            </div>
                            <input class="arrow" type="image" src="/assets/images/arrow.png">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const authSelect = document.getElementById("authType");
    [...authSelect.children].forEach(element => {
        if(element.tagName == 'INPUT'){
            element.onclick = inputSelectHandler;
        }
    });
</script>
</body>
</html>
